<md-dialog aria-label="{{ vm.noticia.titular }}">
  <form ng-cloak>
    <md-toolbar style="background-color: {{ vm.color }}">
      <div class="md-toolbar-tools" >
        <h2>{{ vm.noticia.categoria.descripcion }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="assets/icons/letter-x.svg" aria-label="Cerrar"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{ vm.noticia.titular }}</h2>
        <p>{{ vm.noticia.entrada }}
        </p>

        <img style="margin: auto; max-width: 100%;" alt="{{ vm.noticia.titular }}" src="{{ vm.noticia.imagen }}">

        <p>
          {{ vm.noticia.cuerpo }}
        </p>
        <p>
          <h5>Artículo por {{ vm.noticia.usuario.nombre }} ({{ vm.noticia.usuario.email }})</h5>
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="vm.editar()">
        Editar
      </md-button>
      <md-button ng-click="vm.eliminar()">
        Eliminar
      </md-button>
      <span flex></span>
      <md-button ng-click="vm.cancel()">
       Cerrar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>